html, body {
  overflow-x:hidden ;
} 


body{
  font-size: 16px;
}
a{
  text-decoration: none;
  color : var(--white);
   
}
.wrapper{
  width: 100%;
  height: 100%; 
}
.circle_number:after{
content:attr(value);
font-size:12px;
background: orange;
border-radius:50%;
padding:3px 6px;
position:relative;
left:-8px;
top:-10px;
opacity:0.9;
}

#nav{
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr; 
  grid-template-columns: 245px auto auto 1fr 245px; 
  grid-template-areas: 
  "logo icon icon2 more user_div" 
  "area main main main main"; 
   color: var(--black); 
   background-color: var(--white) ;
}
.back{
     display:flex;
    justify-content:center;
    align-items:center;
    grid-area: user_div;
    background-color : var(--main2);
}
.logo-div{
  text-align: center;
  grid-area: logo ; 
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--main2);
  color:var(--black) ; 
}
#icon{
  grid-area: icon;
  background-color: var(--white) ;
  color: black;
  cursor: pointer;
  line-height: 50px;
  padding: 0 15px;
  transition: ease-in .1s background-color; 
}
.icon{
  grid-area: icon;
  background-color: var(--white) ;
  color: black;
  cursor: pointer;
  line-height: 50px;
  padding: 0 15px;
  transition: ease-in .1s background-color; 
}
.icon:hover{
  opacity: 0.9;
}
.icon2{
  grid-area: icon2;
  background: var(--main2);
  color: black;
  cursor: pointer;
  line-height: 50px;
  padding: 0 15px;
  transition: ease-in .1s background-color; 
}
.more{
  grid-area: more; 
  text-align: center;
  line-height: 50px;
  background-color: var(--main2);
}
.area{
  grid-area: area;
  display: grid;
  grid-template-rows: 212px 1fr; 
  grid-template-columns: 1fr ; 
  grid-template-areas: 
  "top"
  "bottom"; 
   color: var(--white); 
}
.top{
  grid-area: top ;
  background-color: var(--main1) ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction:column;

}
.top-img-div{
  position: relative;
} 
.top-img{
    border-radius:50%;
    border:1px solid white ;
    width : 90px; 
    height : 90px;
    
}
.top-p{
    text-align:center;
    line-height:30px;
}
.bottom{
  grid-area: bottom ;
  background-color: var(--main1); 
}
.main{
  grid-area: main;
  height:100%;
  width:100%;
  background-color: var(--white);
  color: black;
  align-items: center; 
  padding:20px;
}
.summary-div > a {
    color:white;
} 
.summary-div{
  padding: 14px;
  width: 100%;
  background-color: #2d3436;
  cursor: pointer;
  outline: none; 
  direction: ltr;
  border-top : 1px solid rgba(255,255,255,.1);
  border-bottom : 1px solid rgba(255,255,255,.1);
}
.summary-div:hover{
  background: #636e72;
}
.summary-div2{
  direction: rtl;
}
details > summary {
  padding: 12px;
  width: 100%;
  background-color: #2d3436;
  cursor: pointer;
  outline: none; 
  direction: ltr;
  border-top : 1px solid rgba(255,255,255,.1);
  border-bottom : 1px solid rgba(255,255,255,.1);
}

.icon-summary{
  margin-left: 4px;
}
summary > div{
  direction: rtl;
  margin-top: -16px;
}
details > .content {
  background-color: #2f3640;
  color: white;
  padding-right: 35px;
  box-shadow: 1px 1px 2px #bbbbbb;
}
summary:hover{
  background: #636e72;
}
.content{
  padding: 7px;
  width: 100%;
}
.content-li{
  padding-bottom: 7px;
  padding-top: 7px;
}
.content-li a{
  color: gray;
  transition: ease-in .3s all;
}
.content-li a:hover{
  color: white;
}


.html-box{
    padding:15px;
    margin:15px;
    border:1px dashed gray;
    display:grid;
   	grid-row-gap: 18px;
    grid-column-gap: 25px;
   	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr) );
}

.form{
    background-color : transparent;
}
.form input{
	background-color: transparent;
}
.main-btn{
   padding:7px 12px;
    display:inline;
    background-color:white;
    border:1px solid #ccc;
    cursor:pointer;
    transition:all .3s ease-in;
}
.main-btn:hover{
    background-color:#ccc;
}
.main-btn i{
    padding :0px 6px;
}
.margin{
    margin:18px;
}
.lock-form {
    pointer-events:none ; 
    opacity:0.6 ; 
}
.null-div{
    width:100%;
    height:100%; 
}


.inform-p{
    text-align:center;
}
.inform-div{
    width:80%;
    margin:10px auto;
    text-align:center;
}
.inform-p {
    color:var(--black);
}
.inform-p span{
    font-size:18px;
    padding : 12px 0 ;
    background-color: var(--green); 
    display:block;
    color:var(--white);
}

.body-div{
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
    grid-row-gap: 15px;
}
.body-class{
   width: 80% ; 
	margin: 0 auto;
	font-size: 16px;
	position: relative; 
	height: auto ;
	overflow: hidden;
    display:flex;
    flex-direction:column;
	padding-bottom: 1px;
}



@media screen and (max-width: 940px) {
    #more-span{
        display:none;
        width:0px;
    }
        
    #nav{
        grid-template-columns: 180px auto 1fr auto; 
    }
}
@media screen and (max-width: 550px) {
    .back div{
        font-size:12px;
    }
    .small-box-div{
        grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) ) !important;
    }
    .inner h3{
        font-size:12px !important; 
    }
}

@media screen and (max-width: 480px) {
    #icon{
        display:none;
    }
        .back div{
            font-size:10px;
        }
    #nav{
        grid-template-columns: 140px auto 1fr auto; 
         grid-template-rows: 100px 1fr; 
    }
    .back{
        flex-direction:column;
        justify-content:space-evenly;
    }
    .sub-sub-ul{
        margin-right:-30px;
    }
}
@media screen and (max-width: 350px) {
    #nav{
        grid-template-columns: 90px auto 1fr auto; 
    }
}
@media screen and (max-width: 280px) {
     .back div{
            font-size:7px;
        }
}

@media screen and (max-width: 240px) {
     .back div{
            display:none;   
        }
}
.message{
    font-size:20px; 
    color:var(--black);
}
.message:after{
content:attr(value);
font-size:12px;
background: orange;
border-radius:50%;
padding:3px 6px;
position:relative;
left:-8px;
top:-10px;
opacity:0.9;
}

.alpbox{
     margin-right: 14px ; 
     cursor : pointer ;
     background-color : rgba(255,255,255,.1);
     border-radius:3px;
     padding:5px 10px;
     transition:all .3s ease-in;
}
.alpbox:hover{
     background-color : orange;
}
.alpbox i{
    margin-right:4px;
}

.cl_bt{
    position:absolute;
    top:50px; 
    left:0;
    width:25px; 
    height:25px; 
    background-color:#f6e58d;
    color:black;
    font-size:25px;
    line-height:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    border:1px solid #ffbe76;
    border-left:4px solid transparent;
    z-index:101;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display:none; 
}




.p-image {
  position: absolute;
  bottom: 0px;
  left: 7px;
  color: white;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  cursor: pointer;
}
.p-image:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
font-size: 1.2em;
}
.file-upload-input {
  display: none;
}
