:root{
  --main1 : #31312f;
  --main2 : #07aba0;
  --header : #211f1f;
  --white : #f6f7f8;
  --gray:#57606f ;
  --black:#2d3436;
  --login:#ecf0f1;
  --green:#2ecc71;
}


@font-face{
  font-family: yekan;
  src: url('../fonts/Yekan.eot') format("eot"), 
       url('../fonts/Yekan.woff') format("woff"),
       url('../fonts/Yekan.ttf') format("truetype"),
       url('../fonts/Yekan.svg') format("svg");
}

*, *:before, *:after {
  box-sizing: border-box; 
}

.bold-span{
    font-weight:bold;
}
body{
    direction:rtl;
}

p , span , input, a , button,div,textarea,content,td{
  font-family: vazir ;
  line-height: 1.4; 
  
}
h1,h2,h3,h4,h5{
  font-family: titr !important;
}

.form{
    width: 80% ; 
	margin: 0 auto;
	font-size: 16px;
	position: relative; 
	height: 50px ;
	overflow: hidden;
    display:flex;
    flex-direction:column;
	padding-bottom: 1px;
	background: var(--black);
    align-items:flex-end;
    margin-top:auto;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0;
}
input[type=number]{
    -moz-appearance : textfield ;
}

.form input{
	width: 100% ;
	height: 100% ; 
	color: var(--black);
	padding-top: 20px; 
	border: none;
	outline: none; 
	direction: rtl;
	background: var(--login);

}
.form label{
	position: absolute;
	bottom: 0px ;
	left: 0% ; 
	width: 100% ; 
	height: 100%; 
	pointer-events: none ;
	border-bottom: 1px solid var(--black) ;
}
.form label::after{
	content: "" ;
	position: absolute;
	height: 100% ; 
	width: 100% ; 
	border-bottom: 2px solid blue ;
	left: 0px ;
	bottom: 0px ;
	transform: translateX(+100%);
	transition: all 0.4s ease ; 
}
.content-name{
	position: absolute;
	bottom: 5px; 
	right:  0px ;
	transition: all 0.4s ease ; 
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
	transform: translateY(-150%);
	font-size: 12px; 
	color : blue ;
}



.form input:focus + .label-name::after ,
.form input:valid + .label-name::after{
	transform: translateX(0%);
}


::-webkit-scrollbar {
    width: 6px;
    height:6px;
    background-color: rgba(0,0,0,0.7);
}
 
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
   background-color: var(--main2);
}

.alert-box{
		position: fixed;
		pointer-events: none;
		right: 0 ; 
		background-color: #e74c3c ; 
		font-size: 20px ; 
		bottom: 10px;
		padding: 15px 40px 15px 15px ;
		color:#ffffff;
		min-width: 350px; 
		overflow-x: hidden; 
		z-index: 121; 
}

.alert-box .close-alert{
		pointer-events: auto;
		font-size: 20px ;
		position:absolute;
		left: 10px;
		top:15px;	
		cursor: pointer ; 
		z-index: 122 ; 
}
.alert-box.show::before{
	content: '' ; 
	position: fixed;
	left: 0 ; 
	bottom: 0 ; 
	height: 4px ;
    background-color:white;
	width: 100% ; 
	z-index: 122 ;
	animation: hideMeter 5s linear ; 
}
@keyframes hideMeter{
	0%{
		width: 100%; 
	}
	100%{
		width: 0% ; 
	}
}

.alert-box.show{
		animation: showAlert 1s ease forwards;
}
@keyframes showAlert{
		0%{
			transform: translateX(100%);
		}
		40%{
			transform: translateX(-15%);
		}
		80%{
			transform: translateX(0%);
		}
		100%{
			transform: translateX(-10px);
		}
}
.alert-box.hide{
		animation: hideAlert 1s ease forwards;
}
@keyframes hideAlert{
		0%{
			transform: translateX(-10px);
		}
		40%{
			transform: translateX(0%);
		}
		80%{
			transform: translateX(-15%);
		}
		100%{
			transform: translateX(100%);
		}
}
.hidden{
	visibility: hidden;
}
.login{
	position: fixed; 
	top: 0; 
	left: 0 ; 
	width: 100% ; 
	height: 100vh;
	z-index:101;  
	display: none;
	background-color:rgba(0,0,0,0.9);
}
.close-login{
	position: fixed;
	top: 6%; 
	right: 6%;
	background: var(--main1) ; 
	height: 45px; 
	width: 45px;
	padding: 2px ;
	margin-right: 10px;
	border-radius: 3px;
	justify-content: center; 
	align-items: center;
	display: flex;
    border: 3px solid orange ; 
    transition : ease-out 0.3s all ; 
    z-index:1000;
}
.close-login i{
	color:  var(--white) ;
	font-size: 28px;
}
.close-login:hover{
	background: var(--white) ; 
    border: 3px solid var(--main1) ;
    border-radius: 14px;  
 }
.close-login:hover > i{
    color:  var(--main1) ;
}
.forms{
	position: fixed;
	top: 50% ; 
	right: 50% ; 
	transform: translate(+50% , -50%) ; 
	background: var(--login);
	width: 320px;
	display: none;
	padding: 10px;
}

.forms{
    overflow-y: scroll !important;
    max-height:90%;
}


.btn-div{
	width: 100% ;
	display: flex;
}
.btn-div button{
	transition: ease 0.3s all ;
}
.btn-div button:hover{
	opacity: 0.8;
}
.arrow-header{
	background: var(--main1);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color:  var(--login);
}
.arrow{
  background: var(--login);
  width: 10px;
  height: 10px;
  position: absolute;
  right: calc(50% - 5px);
  top: 55px;
  transform: rotate(45deg);
  z-index:3;
}
.forgot-div{
	width: 80% ; 
	margin: 0 auto;
	display: flex;
	margin-top: 20px; 
	margin-bottom: 12px; 
}
.forgot-pass{
	color: blue; 
	cursor:pointer; 

}
.forgot-pass:hover{
	color: #192a56 ;
}
.forms button{

	border-radius: 3px;
}
.forms .btn-login{
	background: var(--main1);
	color: var(--white);
	width: 80% ; 
	margin: 0px auto;
	margin-bottom: 3px; 
	outline: none;
	border: none;
	height: 35px;
	cursor: pointer ;
}
.forms .btn-register	{
	background:  var(--white);
	border: 1px solid var(--header);
	color: var(--header);
	width: 80% ; 
	margin: 0px auto;
	margin-bottom: 20px; 
	outline: none;
	height: 25px;
	cursor: pointer; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.dropbtn0 {
  font-size: 16px;
  border: none;
  height:100%;
  background-color:transparent;
  color:var(--black);
}
.px150{
    min-width:150px;
}


.dropdown0 {
  position: relative;
  display: inline-block;
      padding: 10px;
    transition: ease-out 0.3s all;
    margin-right: 6px;
    margin-top: -3px;
    color: var(--black);
    align-self: center;
    cursor: pointer;
    direction: ltr; 
}

.dropdown-content0 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding:5px;
}

.dropdown-content0 a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-right : 0px !important;
}

.dropdown0:hover {background: var(--main1);
 	 	border-radius: 40px; color:white !important;}

.dropdown0:hover .dropdown-content0 {display: block;}
.dropdown0:hover .dropbtn0 {color:white;}

.dropbtn0:hover {color:white;}




.btnp {
  background: rgba(100, 100, 100,0.7);
  backdrop-filter: blur(2px);
  outline:none;
  border:0px solid white;   
  border-radius: 5px;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.btnp::before,
.btnp::after {
  background: black;
  content: '';
  position: absolute;
  z-index: -1;
}

.btnp {
  overflow: hidden;
  cursor:pointer;
  padding:6px;
}
.btnp:hover {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btnp::after {
  background: rgba(200, 200, 200,0.8);
  height: 300%;
  left: -310%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}
.btnp:hover:after {
  height: 100%;
  width: 460%;
}


summary{
    outline:none;
    cursor: pointer; 
}
details[open] summary ~ *{
  animation: sweep .5s ease-in-out ; 
}
@keyframes sweep{
  from{
    opacity: 0; margin-top: -10px; 
  }
  to{
    opacity: 1;margin-top: 4;
  }
}


.dropbtn {
  background-color: rgba(255,255,255,.1);
  border:0px;
  color:var(--black);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:3px;
}

.dropdown-content-li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;   
  cursor:pointer;
}

.dropdown-content-li {background-color: white;color:black}
.dropdown-content-li:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: orange;}




.table-specific{
    width:100%;
    border-collapse:collapse;
    overflow:visible;
}
.table-specific td, .table-specific th{
    padding:4px 4px; 
    border:1px solid #ddd ; 
    text-align:center;
    vertical-align: middle;
}
.table-specific th{
    background-color: #2d3436; 
    color:white ;
}
.table-specific tbody tr:nth-child(even){
    background-color: #F8EFBA; 
}
.table-specific tbody tr:nth-child(odd){
    background-color: #ecf0f1; 
}

.table-specific caption{
    text-align:right;
    padding:10px;
    font-size:20px;
    background-color: #ecf0f1; 
}
.table-specific td i{
    cursor:pointer;
}




@media (max-width:767px){
    .table-specific:not(.week-tab) thead{
        display:none; 
    }
    .table-specific:not(.week-tab) , .table-specific:not(.week-tab) tbody , .table-specific:not(.week-tab) tr , .table-specific:not(.week-tab) td{
        display:block;
        width:100% ;
    }
    .table-specific:not(.week-tab) tr{
        margin-bottom:15px; 
    }
    .table-specific:not(.week-tab) td{
        text-align:left;
        padding-right : 50%;
        text-align:left;
        position:relative;
    }
    .table-specific:not(.week-tab) td::before{
        content:attr(data-label);
        position:absolute;
        right:0;
        width:50%; 
        padding-right:15px; 
        font-size:15px;
        text-align:right;
    }
    .table-specific:not(.week-tab) caption{
        width:100%;
    }

}

