html, body {
  overflow-x:hidden ;
} 
body{
  font-size: 16px;
}
a{
  text-decoration: none;
  color : var(--white);
   
}
.wrapper{
  width: 100%;
  height: 100%; 
}
.circle_number:after{
content:attr(value);
font-size:12px;
background: orange;
border-radius:50%;
padding:3px 6px;
position:relative;
left:-8px;
top:-10px;
opacity:0.9;
}

#nav{
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr; 
  grid-template-columns: 245px auto auto 1fr 245px; 
  grid-template-areas: 
  "logo icon icon2 more user_div" 
  "area main main main main"; 
   color: var(--black); 
   background-color: var(--white) ;
}
.back{
     display:flex;
    justify-content:center;
    align-items:center;
    grid-area: user_div;
    background-color : var(--main2);
}
.logo-div{
  text-align: center;
  grid-area: logo ; 
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--main2);
  color:var(--black) ; 
}
#icon{
  grid-area: icon;
  background-color: var(--white) ;
  color: black;
  cursor: pointer;
  line-height: 50px;
  padding: 0 15px;
  transition: ease-in .1s background-color; 
}
.icon{
  grid-area: icon;
  background-color: var(--white) ;
  color: black;
  cursor: pointer;
  line-height: 50px;
  padding: 0 15px;
  transition: ease-in .1s background-color; 
}
.icon:hover{
  opacity: 0.9;
}
.icon2{
  grid-area: icon2;
  background: var(--main2);
  color: black;
  cursor: pointer;
  line-height: 50px;
  padding: 0 15px;
  transition: ease-in .1s background-color; 
}
.more{
  grid-area: more; 
  text-align: center;
  line-height: 50px;
  background-color: var(--main2);
}
.area{
  grid-area: area;
  display: grid;
  grid-template-rows: 212px 1fr; 
  grid-template-columns: 1fr ; 
  grid-template-areas: 
  "top"
  "bottom"; 
   color: var(--white); 
}
.top{
  grid-area: top ;
  background-color: var(--main1) ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction:column;

}
.top-img-div{
  position: relative;
} 
.top-img{
    border-radius:50%;
    border:1px solid white ;
    width : 90px; 
    height : 90px;
    
}
.top-p{
    text-align:center;
    line-height:30px;
}
.bottom{
  grid-area: bottom ;
  background-color: var(--main1); 
}
.main{
  grid-area: main;
  height:100%;
  width:100%;
  background-color: var(--white);
  color: black;
  align-items: center; 
  padding:20px;
}
.summary-div > a {
    color:white;
} 
.summary-div{
  padding: 14px;
  width: 100%;
  background-color: #2d3436;
  cursor: pointer;
  outline: none; 
  direction: ltr;
  border-top : 1px solid rgba(255,255,255,.1);
  border-bottom : 1px solid rgba(255,255,255,.1);
}
.summary-div:hover{
  background: #636e72;
}
.summary-div2{
  direction: rtl;
}
details > summary {
  padding: 12px;
  width: 100%;
  background-color: #2d3436;
  cursor: pointer;
  outline: none; 
  direction: ltr;
  border-top : 1px solid rgba(255,255,255,.1);
  border-bottom : 1px solid rgba(255,255,255,.1);
}

.icon-summary{
  margin-left: 4px;
}
summary > div{
  direction: rtl;
  margin-top: -16px;
}
details > .content {
  background-color: #2f3640;
  color: white;
  padding-right: 35px;
  box-shadow: 1px 1px 2px #bbbbbb;
}
summary:hover{
  background: #636e72;
}
.content{
  padding: 7px;
  width: 100%;
}
.content-li{
  padding-bottom: 7px;
  padding-top: 7px;
}
.content-li a{
  color: gray;
  transition: ease-in .3s all;
}
.content-li a:hover{
  color: white;
}


.html-box{
    padding:15px;
    margin:15px;
    border:1px dashed gray;
    display:grid;
   	grid-row-gap: 18px;
    grid-column-gap: 25px;
   	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr) );
}

.form{
    background-color : transparent;
	max-width: 300px;
	
}
.form input{
	background-color: transparent;
}
.main-btn{
   padding:7px 12px;
    display:inline;
    background-color:white;
    border:1px solid #ccc;
    cursor:pointer;
    transition:all .3s ease-in;
}
.main-btn:hover{
    background-color:#ccc;
}
.main-btn i{
    padding :0px 6px;
}
.margin{
    margin:18px;
}
.lock-form {
    pointer-events:none ; 
    opacity:0.6 ; 
}
.null-div{
    width:100%;
    height:100%; 
}


.inform-p{
    text-align:center;
}
.inform-div{
    width:80%;
    margin:10px auto;
    text-align:center;
}
.inform-p {
    color:var(--black);
}
.inform-p span{
    font-size:18px;
    padding : 12px 0 ;
    background-color: var(--green); 
    display:block;
    color:var(--white);
}

.body-div{
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
    grid-row-gap: 15px;
}
.body-class{
   width: 80% ; 
	margin: 0 auto;
	font-size: 16px;
	position: relative; 
	height: auto ;
	overflow: hidden;
    display:flex;
    flex-direction:column;
	padding-bottom: 1px;
}



@media screen and (max-width: 940px) {
    #more-span{
        display:none;
        width:0px;
    }
        
    #nav{
        grid-template-columns: 180px auto 1fr auto; 
    }
}
@media screen and (max-width: 550px) {
    .back div{
        font-size:12px;
    }
    .small-box-div{
        grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) ) !important;
    }
    .inner h3{
        font-size:12px !important; 
    }
}

@media screen and (max-width: 480px) {
    #icon{
        display:none;
    }
        .back div{
            font-size:10px;
        }
    #nav{
        grid-template-columns: 140px auto 1fr auto; 
         grid-template-rows: 100px 1fr; 
    }
    .back{
        flex-direction:column;
        justify-content:space-evenly;
    }
    .sub-sub-ul{
        margin-right:-30px;
    }
}
@media screen and (max-width: 350px) {
    #nav{
        grid-template-columns: 90px auto 1fr auto; 
    }
}
@media screen and (max-width: 280px) {
     .back div{
            font-size:7px;
        }
}

@media screen and (max-width: 240px) {
     .back div{
            display:none;   
        }
}
.message{
    font-size:20px; 
    color:var(--black);
}
.message:after{
content:attr(value);
font-size:12px;
background: orange;
border-radius:50%;
padding:3px 6px;
position:relative;
left:-8px;
top:-10px;
opacity:0.9;
}

.alpbox{
     margin-right: 14px ; 
     cursor : pointer ;
     background-color : rgba(255,255,255,.1);
     border-radius:3px;
     padding:5px 10px;
     transition:all .3s ease-in;
}
.alpbox:hover{
     background-color : orange;
}
.alpbox i{
    margin-right:4px;
}

.cl_bt{
    position:absolute;
    top:50px; 
    left:0;
    width:25px; 
    height:25px; 
    background-color:#f6e58d;
    color:black;
    font-size:25px;
    line-height:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    border:1px solid #ffbe76;
    border-left:4px solid transparent;
    z-index:101;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display:none; 
}




.p-image {
  position: absolute;
  bottom: 0px;
  left: 7px;
  color: white;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  cursor: pointer;
}
.p-image:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
font-size: 1.2em;
}
.file-upload-input {
  display: none;
}

.dash-div{
    display:flex;
    justify-content:center;
    border:1px dashed gray; 
    padding:8px 18px;
    margin:18px 0;
    width:100%;
    column-gap:3px;
}
.caption-div{
  display: flex;
  float: right;
  align-items: flex-end;
  grid-column-gap: 10px;
  text-align:right;
  background-color: #ecf0f1; 
  white-space: nowrap;
  margin-bottom:6px;
}
.caption-div #search_input_all{
  margin-bottom:0px;
  margin-right:0px;
}
#search_input_all{
  border-radius:0px 0px 5px 5px ;
  border:0px;
  border-top : 2px solid green;
  padding:4px;
  padding-top:6px;
  padding-bottom:6px;
  outline:none;
  margin-bottom: 16px;
  margin-right:7px;
}

.incomp{
    padding:1px 9px;
    display:inline;
    background-color:white;
    border:1px solid #ccc;
    cursor:pointer;
    transition:all .3s ease-in;
    text-align:center;
}
.incomp:hover{
    background-color:#ccc;
}
.height{
    padding-top:12px !important;
    padding-bottom:12px !important;
}

@media screen and (max-width: 970px) {
  .caption-div {
      flex-direction:column;
      float:none;
      align-items: flex-start;
      grid-row-gap: 10px;
  }
}

.select-span {
    color:black !important;
}


.select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, #b7b7b7,#e1e1e1);
    border-color: black;

}

.select.classic:focus{
  background-image:
    linear-gradient(45deg, black 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, black 50%),
    linear-gradient(to right, #e1e1e1, #e1e1e1);
  border-color: black;

}
.sp-select {
    background-color: #b7b7b7;
}
.sp-select{
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}



.close-login{
	position: fixed;
	top: 6%; 
	right: 6%;
	background: var(--main1) ; 
	height: 45px; 
	width: 45px;
	padding: 2px ;
	margin-right: 10px;
	border-radius: 3px;
	justify-content: center; 
	align-items: center;
	display: flex;
    border: 3px solid orange ; 
    transition : ease-out 0.3s all ; 
    z-index:1000;
}
.close-login i{
	color:  var(--white) ;
	font-size: 28px;
}
.close-login:hover{
	background: var(--white) ; 
    border: 3px solid var(--main1) ;
    border-radius: 14px;  
 }
.close-login:hover > i{
    color:  var(--main1) ;
}

.fix-background{
    background-image: url(../images/bcp.png);
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
}   

.forms{
	position: fixed;
	top: 50% ; 
	right: 50% ; 
	transform: translate(+50% , -50%) ; 
	background: var(--login);
	width: 320px;
	display: none;
	padding: 10px;
}
.forms{
    overflow-y: scroll !important;
    max-height:90%;
}
.forms01{
    width: 90% !important;
    max-width:90% !important;
}
.arrow-header{
    background: var(--main1);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color:  var(--login);
}
.arrow{
  background: var(--login);
  width: 10px;
  height: 10px;
  position: absolute;
  right: calc(50% - 5px);
  top: 55px;
  transform: rotate(45deg);
  z-index:3;
}




.row-modal{
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    margin:5px 5%;
}
#search_user_div{
  transition: width 2s, height 4s;
}

.blank_page{
    box-shadow: 1px 1px 7px rgb(0 0 0 / 20%);
    background-color: #ffffff;
    overflow: hidden;
    width: 80%;
    margin: auto;
    padding: 30px;
}